{% extends 'base.html' %}
{% block content %}

<h2>{{ page_title }}</h2>


<div class="post-preview">
    <h4 class="post-title">
        Accounts:
    </h4>
    <h7 class="post-subtitle">
        please contact us on 078962215431.
    </h7>
    <hr>
    <h4 class="post-title">
        Admin:
    </h4>
    <h7 class="post-subtitle">
        please contact us on 076473821992.
    </h7>
    <hr>
    <h4 class="post-title">
        Customer service:
    </h4>
    <h7 class="post-subtitle">
        please contact us on 073452315433.
    </h7>
    <hr>
    <h4 class="post-title">
        technical support:
    </h4>
    <h7 class="post-subtitle">
        please contact us on 078967897743.
    </h7>
    <hr>
    <p class="post-meta">Posted by
        <a href="https://spur-tech.github.io/SPUR-TECH-Designs/">SPUR-<b>TECH </b>Designs</a>
    </p>
</div>

{% endblock %}