{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <a href="http://www.sfu.ca/~hsa62/2/post.html" target="_blank">
                <h2 class="post-title">
                    Man must explore, and this is exploration at its greatest
                </h2>
                <h3 class="post-subtitle">
                    Problems look mighty small from 150 miles up
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="https://spur-tech.github.io/SPUR-TECH-Designs/" target="_blank">SPUR-<b>TECH </b>Designs</a>
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="https://huxley.media/en/i-believe-that-every-human-has-a-finite-number-of-heartbeats-i-don-t-intend-to-waste-any-of-mine-the-rules-of-life-for-astronaut-neil-armstrong-that-guy-from-the-moon/"
                target="_blank">
                <h2 class="post-title">
                    I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                </h2>
            </a>
            <p class="post-meta">Posted by
                <a href="https://spur-tech.github.io/SPUR-TECH-Designs/" target="_blank">SPUR-<b>TECH </b>Designs</a>
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="http://www.quotehd.com/quotes/neil-armstrong-neil-armstrong-science-has-not-yet-mastered-prophecy-we-predict-too"
                target="_blank">
                <h2 class="post-title">
                    Science has not yet mastered prophecy
                </h2>
                <h3 class="post-subtitle">
                    We predict too much for the next year and yet far too little for the next ten.
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="https://spur-tech.github.io/SPUR-TECH-Designs/" target="_blank">SPUR-<b>TECH </b>Designs</a>
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="https://www.normamelhoranca.com/2020/01/29/exploration.html" target="_blank">
                <h2 class="post-title">
                    Failure is not an option
                </h2>
                <h3 class="post-subtitle">
                    Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="https://spur-tech.github.io/SPUR-TECH-Designs/" target="_blank">SPUR-<b>TECH </b>Designs</a>
            </p>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="https://www.goodreads.com/quotes/tag/old" target="_blank">Older
                Quotes &rarr;</a>
        </div>
    </div>
</div>
{% endblock %}